<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssd.petMate.dao.mybatis.mapper.BestMapper">
	<select id="weeklyBestInfo" resultType="com.ssd.petMate.domain.Info" parameterType="Date">
		<![CDATA[
		SELECT *
		FROM(
		    SELECT *
		    FROM Info
		    WHERE boardLike >= 
		        (SELECT MAX(boardLike) 
		        FROM Info 
		        WHERE boardDate >= #{date} - 7) 
		    AND  boardDate >= #{date} - 7
		    ORDER BY boardHit)
		WHERE ROWNUM <= 3 
		]]>
	</select>
	
	<select id="dailyBestInfo" resultType="com.ssd.petMate.domain.Info">
		<![CDATA[
		SELECT *
		FROM(
		    SELECT *
		    FROM Info
		    WHERE boardLike = 
		        (SELECT MAX(boardLike) 
		        FROM Info 
		        WHERE boardDate >= SYSDATE - 1) 
		    AND  boardDate >= SYSDATE - 1
		    ORDER BY boardHit)
		WHERE ROWNUM <= 1 
		]]>
	</select>
</mapper>