<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssd.petMate.dao.mybatis.mapper.InfoLikeMapper">
	<insert id="insertLike" parameterType="com.ssd.petMate.domain.InfoLike">
		INSERT
		INTO InfoLike(boardNum, userID)
		VALUES(#{boardNum}, #{userID})
	</insert>
	
	<delete id="deleteLike" parameterType="com.ssd.petMate.domain.InfoLike">
		DELETE
		FROM InfoLike
		WHERE boardNum=#{boardNum} and userID=#{userID}	
	</delete>
</mapper>