<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper interface랑 경로를 똑같이 정함 -->
<mapper namespace="com.ssd.petMate.dao.mybatis.mapper.MyPageMapper">

  	<!-- user 게시글 목록 가져오기  -->
	<select id="getPrivateInfoList" parameterType="com.ssd.petMate.page.BoardSearch" resultType="com.ssd.petMate.domain.Info">
      SELECT *
		FROM(
            SELECT 
            ROWNUM AS NUM,
           	info.*
            FROM
            (
                SELECT 
                * 
                FROM 
                Info
                WHERE userID = #{userID}
                <if test="searchType=='boardTitle' and keyword != null and keyword != ''">
		            and boardTitle LIKE '%' ||  #{keyword} || '%'
		        </if>
		        <if test="searchType=='boardContent' and keyword != null and keyword != ''">
		            and boardContent LIKE '%' ||  #{keyword} || '%'
		        </if>
                ORDER BY boardNum ASC 
            )info)
            WHERE NUM BETWEEN #{startList} AND #{endList}
	</select>

	<select id="getPrivateInfoCount" resultType="int" parameterType="HashMap">
		SELECT COUNT(*)
		FROM Info
		WHERE userID = #{userID}
        <if test="searchType=='boardTitle' and keyword != null and keyword != ''">
			and boardTitle LIKE '%' ||  #{keyword} || '%'
		</if>
		<if test="searchType=='boardContent' and keyword != null and keyword != ''">
		    and boardContent LIKE '%' ||  #{keyword} || '%'
		</if>
	</select>
</mapper>